*{
    padding: 0px;
    margin: 0px;
}
header{
    background-image:url("Task1\(1\).jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.main{
    max-width: 1100px;
    margin: auto;
}
u1{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}
u1 li{
    display: inline-block;
    border: 1px solid transparent; 
}
u1 li a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
    size: 100px;
}

u1 li a:hover{
    background-color:black;
    color:orangered;
    transition: 0.6s ease;
}

.active{
    background-color: white;
    color:black;
}

.logo img{
    margin-top: 15px;
    size-adjust:5px;
    width: 85px;
    margin-left: 15px;
    border: 1px solid black;
}

.center_text{
    margin-top: 250px;
    margin-left: 530px;
}

h1{
    color: black;
}
h2{
    color: black;
}
#bt1{
    border: 1px solid black;
    color: black;
    padding: 1px;
    text-decoration: none;
}

#bt2{
    border: 1px solid black;
    color: black;
    padding: 1px;
    text-decoration: none;
    
}
#bt1:hover{
    background-color: black;
    color: red;
    transition: 0.6s ease;
}
#bt2:hover{
    background-color: black;
    color: red;
    transition: 0.6s ease;
}   